@model IEnumerable<Domain.Model.Book>

@{
    ViewData["Title"] = "Index";
}

<div>
    <form asp-controller="Books" asp-action="CreateBook"
          data-ajax-complete="onComplete" data-ajax-failure="onFailed"
          data-ajax="true" data-ajax-method="POST">
        <input class="form-control-sm bg-info border-0" id="title" type="text" name="Title" value="" />
        <input class="form-control-sm bg-info border-0" id="author" type="text" name="Author" value="" />
        <input class="form-control-sm bg-info border-0" id="price" type="text" name="Price" value="" />
        <button type="submit" class="btn btn-sm btn-outline-success mb-1" id="createBtn" name="Create" value="Добавить книгу">Добавить</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody id="booksTable">
        </tbody>
    </table>
</div>



@section scripts
{
    <script>
        onFailed = () => {
            alert("failed");
        }

        onComplete = () => {
            $.ajax({
                type: "GET",
                url: "/Books/_PrintBooks",
                success: function(res) {
                    //$("#booksTable").html(res);
                    document.querySelector("#booksTable").innerHTML = res;
                }
            });
        }
        onComplete();

    </script>
}
